<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.TypeScript.Compiler" version="3.1.5" targetFramework="net461" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="NUglify" version="1.5.13" targetFramework="net461" />
</packages>