div#LevelSitemap ul li.level0 {
  width: 25%;
}

div#LevelSitemap ul ul {
  margin-left: 0.8em;
}

div#LevelSitemap ul li {
  padding: 0;
}

div#LevelSitemap ul.level1{
  padding: 20px;
}

div#LevelSitemap .btn-block {
  margin: -1px;
  width: auto;
}