
.vs
bin
obj
Bin
Obj
packages
*/*/obj/Debug
*/*/obj/Release


*.suo
*.csproj.user
*.zip
*.nupkg
/Tools/C1PackageDevProvisioner/C1PackageDevProvisioner/obj/Debug
/Tools/C1PackageDevProvisioner/Runner/obj/Debug
VersionInfo.cs

node_modules
jspm_packages