.nav-list {
    padding-left: 15px;
    padding-right: 15px;
}
.nav-list > li > a {
    margin-left: -15px;
    margin-right: -15px;
    padding: 3px 15px;
}

.nav-list > .open > a {
    background-color: transparent;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
    color: #fff;
	background: #0088CC;
}