<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="websitePath" value="website"/>
    <add key="sourceCultureName" value="en-US"/>
    <add key="targetCultureName" value="fr-FR"/>
    <add key="sourceBranch" value="feature-timezone-display"/>
    <add key="sourceRepo" value="https://github.com/Orckestra/C1-CMS.git"/>
    <add key="sourcePath" value="Website\Composite\localization"/>
    <add key="localSourcePath" value="Composite\localization"/>
    <add key="targetBranch" value="feature-timezone-display"/>
    <add key="targetRepo" value="https://github.com/Orckestra/C1-Packages.git"/>
    <add key="targetPath" value="Composite.Localization.C1Console.French\Composite.Localization.C1Console.French\Package\App_Data\Composite\LanguagePacks\fr-FR"/>
    <add key="localTargetPath" value="App_Data\Composite\LanguagePacks\fr-FR"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>

<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="websitePath" value="website"/>
    <add key="sourceCultureName" value="en-US"/>
    <add key="targetCultureName" value="fr-FR"/>
    <add key="sourceBranch" value="master"/>
    <add key="sourceRepo" value="https://github.com/Orckestra/C1-Packages.git"/>
    <add key="sourcePath" value="Composite.Forms.Renderer/Composite.Forms.Renderer.Package/Package/Composite/InstalledPackages/localization"/>
    <add key="localSourcePath" value="Composite\InstalledPackages\localization"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>-->

