/* Default Facebook CSS */
body {
	padding: 0;
	margin: 0;
}
.fbbody {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
	padding: 20px;
}
.fbbody h1 {
	font-size: 20px;
	font-weight: 400;
}
.fbbody h2, .fbbody h3 {
	font-size: 16px;
}
/* Default Anchor Style */
.fbbody a {
	color: #365899;
	outline-style: none;
	text-decoration: none;
}
.fbbody a:hover {
	text-decoration: underline;
}
/* Facebook Box Styles */
.fbgreybox {
	background-color: #f7f7f7;
	border: 1px solid #cccccc;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
.fbbluebox {
	background-color: #eceff6;
	border: 1px solid #d4dae8;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
.fbinfobox {
	background-color: #fff9d7;
	border: 1px solid #e2c822;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
.fberrorbox {
	background-color: #ffebe8;
	border: 1px solid #dd3c10;
	color: #333333;
	padding: 10px;
	font-size: 13px;
	font-weight: bold;
}
/* Content Divider on White Background */
.fbcontentdivider {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 520px;
	height: 1px;
	background-color: #d8dfea;
}
/* Facebook Tab Style */
.fbtab {
	padding: 8px;
	background-color: #d8dfea;
	color: #3b5998;
	font-weight: bold;
	float: left;
	margin-right: 4px;
	text-decoration: none;
}
.fbtab:hover {
	background-color: #3b5998;
	color: #ffffff;
	cursor: hand;
}

/*-----------------------------------------------------------------------------------*/
/*  Buttons
/*-----------------------------------------------------------------------------------*/
.btn {
    background-color:#ECEEF5;
    border:1px solid #CAD4E7;
    text-decoration:none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	padding: 2px 10px;
	margin-right:5px;
}

.btn:hover{
    border:1px solid #9DACCE;
    text-decoration:none;
}
