<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <!-- Path to where you want your C1 site running for hands on testing - this will be auto initialized, so don't point this to an "important site"  -->
    <add key="C1SitePath" value="C:\Users\marcus.wendt\Documents\My Web Sites\CompositeC121"/>
    
    <!-- PackageProjectsPaths: one or more paths, seperated with comma -->
    <add key="PackageProjectsPaths" value="C:\Users\marcus.wendt\Source\Repos\C1-Packages, C:\Users\marcus.wendt\Source\Repos\CMS-StarterSites"/>

    <!-- Setup description file - for starter sites - will be used as template for Setup Package Server -->
    <add key="SetupDescriptionPath" value="SetupDescription.xml"/>

    <!-- URL to ZIP containing the C1 version to test on -->
    <add key="C1BaseImageZipUrl" value="https://github.com/Orckestra/CMS-Foundation/releases/download/v5.5/Orckestra.CMS.5.5.zip"/>

    
    <!--
        Settings below likely needs no tweaking    
    -->
    
    <!-- MSBUILD.EXE - where to find it -->
    <add key="MsBuildPath" value="C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe" />
    <!-- Temp path - where C1 base images (ZIPs) will be downloaded and also extracted -->
    <add key="BaseImagesPath" value="C:\Temp\C1BaseImages"/>
    <!-- IIS Express path -->
    <add key="IISExpressPath" value="c:\Program Files (x86)\IIS Express\iisexpress.exe" />
    <!-- http://localhost:{port} - where the MockPackageServer will run -->
    <add key="MockPackageServerPort" value="7914" />
    <!-- Path to MockPackageServer - web services which C1 talk to for Setup sites / Packages -->
    <add key="MockPackageServerPath" value="MockPackageServer" />
    <!-- NUGET.EXE - where it is - is downloaded when you build -->
    <add key="NugetPath" value="nuget.exe" />
  </appSettings>
</configuration>
