body
{
    text-align: center;
    padding: 3em;
}

body, input, select, textarea
{
    font-family: Tahoma, sans-serif;
    font-size: 11px;
}

#mainForm
{
    width: 538px;
    display: block;
    margin: 0 auto;
}
.corner
{
    vertical-align: top;
    width: 48px;
    height: 48px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.backgroundfill
{
    background-color: #ffffff;
    text-align: left;
}

.topleft
{
    background-image: url("Images/topleft.png");
    background-position: right bottom;
}

.topright
{
    background-image: url("Images/topright.png");
    background-position: left bottom;
}

.bottomleft
{
    background-image: url("Images/bottomleft.png");
    background-position: right top;
}

.bottomright
{
    background-image: url("Images/bottomright.png");
    background-position: left top;
}

.left
{
    vertical-align: top;
    width: 50px;
    overflow: hidden;
    background-image: url("Images/left.png");
}

.right
{
    vertical-align: top;
    width: 50px;
    overflow: hidden;
    background-image: url("Images/right.png");
}

.top
{
    vertical-align: top;
    overflow: hidden;
    background-image: url("Images/top.png");
    background-position: center bottom;
}

.bottom
{
    vertical-align: top;
    overflow: hidden;
    background-image: url("Images/bottom.png");
}

.title img
{
    vertical-align: middle;
}

.title
{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

    .title img
    {
        vertical-align: middle;
    }

fieldset
{
    margin: 1.5em 0 0 0;
    padding: 0;
    border: none;
    text-align: left;
}

h4
{
    color: #000000;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 0;
    padding-left: 3px;
}

.info
{
    color: Black;
}

.error
{
    color: Red;
}

table.list td
{
    border: 1px solid #C1C1C1;
}

#wzdSqlMigrator
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#wzdSqlMigrator_txtConnectionString
{
    width: 421px;
    margin-top: 5px;
}

#wzdSqlMigrator_ddlSourceDataProvider
{
    width: 411px;
    margin-top: 5px;
}


.sourcebody
{
    width: 411px;
    -moz-border-radius: 6px;
    background-color: #EEEEEE;
    border: 1px solid #888888;
    font-family: "Courier New",monospace;
    font-size: 11px;
    padding: 2px 6px;
    margin-top: 3px;
}


    .sourcebody .kwrd
    {
        color: #0000FF;
    }
