@inherits RazorFunction
@using System.Text.RegularExpressions
@functions {
    public override string FunctionDescription
    {
        get { return "Plays a YouTube video on your page using the specified URL."; }
    }

    [FunctionParameter(Label = "YouTube URL", Help = "Paste the URL to the video you wish to show.")]
    public string YouTubeURL { get; set; }

    private const string aspectRatioWidgetMarkup = @" <f:widgetfunction xmlns:f='http://www.composite.net/ns/function/1.0' name='Composite.Widgets.String.Selector'>
  <f:param name='Options'>
   <f:function name='Composite.Utils.String.Split'>
    <f:param name='String' value='16:9,4:3' />
   </f:function>
  </f:param>
 </f:widgetfunction>";
    [FunctionParameter(Label = "Aspect Ratio", Help = "16:9 aspect ratio by default", WidgetMarkup = aspectRatioWidgetMarkup, DefaultValue = "16:9")]
    public string AspectRatio { get; set; }
}
@{
    string pattern = @"(?:https?:\/\/)?(?:www\.)?(?:(?:(?:youtube.com\/watch\?[^?]*v=|youtu.be\/|youtube.com\/v\/)([\w\-]+))(?:[^\s?]+)?)";
    if (!Regex.IsMatch(YouTubeURL, pattern))
    {
        <div class="alert alert-danger">Wrong Youtube URL.</div>
        return;
    }
    var match = Regex.Match(YouTubeURL, pattern);
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 </head>
<body>
    <div class="embed-responsive embed-responsive-@AspectRatio.Replace(":", "by")">
        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/@(match.Groups[1].Value)?fs=1"></iframe>
    </div>
</body>
</html>