.navbar-search-form {
    &:last-child {
        padding-right: 20px;
    }
    .dropdown-menu {
        width: 300px;
    }
}

.search-form {
    .btn {
        width: 100%;
    }

    @media (min-width: @screen-sm-min) {
        .form-group {
            width: 40%;
            .form-control{
                width: 100%;
            }
        }
        .btn {
            width: auto;
        }
    }
}