@inherits RazorFunction
@using System.Text.RegularExpressions
@using Composite.Core.WebClient.Renderings.Page
@functions {
	public override string FunctionDescription
	{
		get { return "Plays a Vimeo video."; }
	}

	[FunctionParameter(Label = "Vimeo URL", Help = "The URL to the video on Vimeo, like http://vimeo.com/15195655")]
	public string VimeoURL { get; set; }

	private const string aspectRatioWidgetMarkup = @" <f:widgetfunction xmlns:f='http://www.composite.net/ns/function/1.0' name='Composite.Widgets.String.Selector'>
  <f:param name='Options'>
   <f:function name='Composite.Utils.String.Split'>
    <f:param name='String' value='16:9,4:3' />
   </f:function>
  </f:param>
 </f:widgetfunction>";
	[FunctionParameter(Label = "Aspect Ratio", Help = "16:9 aspect ratio by default", WidgetMarkup = aspectRatioWidgetMarkup, DefaultValue = "16:9")]
	public string AspectRatio { get; set; }

}
@{
	string pattern = @"vimeo\.com/(?:.*#|.*/videos/)?([0-9]+)";
	if (!Regex.IsMatch(VimeoURL, pattern))
	{
		<div class="alert alert-danger">Wrong Vimeo URL.</div>
		return;
	}
	var match = Regex.Match(VimeoURL, pattern);
	var videoID = match.Groups[1].Value;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	@if (PageRenderer.RenderingReason == RenderingReason.ScreenshotGeneration)
	{
		<img id="vimeo-@videoID" src="" alt="screenshot" />
		<script type="text/javascript">
			var img = document.getElementById("vimeo-@(videoID)");

			vimeoLoadingThumb();

			function vimeoLoadingThumb() {
				var url = "http://vimeo.com/api/v2/video/@(videoID).json?callback=showThumb";
				var script = document.createElement('script');
				script.type = 'text/javascript';
				script.src = url;
				img.parentNode.insertBefore(script, img);
			}

			function showThumb(data) {
				img.src = data[0].thumbnail_large;
			}
		</script>
	}
	else
	{
		<div class="embed-responsive embed-responsive-@AspectRatio.Replace(":", "by")">
			<iframe class="embed-responsive-item" src="//player.vimeo.com/video/@(videoID)?byline=0&amp;portrait=0"></iframe>
		</div>
	}
</body>
</html>
