@inherits RazorFunction
@functions {
    public override string FunctionDescription
    {
        get { return "A function that outputs common HTML head elements."; }
    }
}
@{
    string stylesFolder = "~/Frontend/Styles";
    string jsFolder = "~/Frontend/Scripts";
}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
    <link rel="stylesheet" type="text/css" href="@Href(stylesFolder)/style.less" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* SCRIPTS *@
    <script id="jquery-js" src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="@Href(jsFolder)/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="@Href(jsFolder)/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="@Href(jsFolder)/script.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
</body>
</html>