<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="f" namespace="Composite.Plugins.PageTemplates.MasterPages.Controls.F" assembly="Composite" />
        <add tagPrefix="c1" namespace="Composite.Plugins.PageTemplates.MasterPages.Controls.Rendering" assembly="Composite" />
      </controls>
    </pages>
   </system.web>
</configuration>