@import url("VisualEditor.common.css");

html,
body {
	margin: 0;
	padding: 0;
	font-family: Calibri,FallbackCalibri,Optima,Arial,sans-serif;
	font-size: 15px;
	line-height: 20px;
	background-color: rgb(200,200,200);
	color: rgb(50,50,50);
}
html {
	overflow-y: scroll;
}

/* General .................................................................. */

div.layout {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
div.clear {
	clear: both;
}
table {
	border-collapse: collapse;
}
th,
td {
	text-align: left;
	vertical-align: top;
	padding: 6px 10px 6px 10px;
}

/* Typo .................................................................... */

p,
ul,
ul,
form,
table {
	margin-top: 0;
	margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	margin: 20px 0 0 0;
	padding: 0;
	clear: both;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
hr {
	display: none;	
}
a img {
	border: none;
}
li > a {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}
ul {
	list-style: square;
}
code {
	color: rgb(50,100,150);
	font-family: "Lucida Console",Consolas,"Courier New",monospace;
	font-size: 11px;
	line-height: 16px;
}
input,
textarea {
	font-family: Calibri,FallbackCalibri,Optima,Arial,sans-serif;
	font-size: 15px;
	line-height: 20px;
}

/* Lists ................................................................... */

ul.links {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
ul.links li {
	padding-left: 17px;
}
ul.links li:before {
	content: "►";
	position: absolute;
	margin-left: -17px;
	color: rgb(251,137,10);
}

/* Header .................................................................. */

div#header {
	background-color: rgb(245,245,245);
	border-bottom: 1px solid rgb(180,180,170);
	padding: 4px 0 4px 0;
	font-size: 13px;
}
div#header,
div#header a {
	color: rgb(100,100,100);
}
div#header a:hover,
div#header a.selected {
	text-decoration: none;
	border-bottom: 7px solid rgb(251,137,10);
}
div#header a:focus {
	outline: none;
}
div#header p {
	cursor: default;
	float: left;
	margin: 0;
}
div#header ul {
	float: right;
	margin: 0;
	padding: 0;
}

div#header li {
	display: inline;
	margin-right: 0;
	margin-left: 9px;
	padding-left: 10px;
	border-left: 1px solid rgb(180,180,170);
}
div#header li:first-child {
	border: none;
}

/* Head .................................................................... */

div#head {
	border-top: 1px solid rgb(255,255,255);
	padding: 40px 0 2px 0;
	background: rgb(220,220,220) url("../Images/Gradient.png") repeat-x 0 0;
}

/* Banner .................................................................. */

div#banner {
	border-bottom: 6px solid rgb(251,137,10);
	width: 206px;
	float: left;
	overflow: visible;
}
div#banner h2 {
	margin: 0;	
}
div#banner h2 a {
	display: block;
	width: 210px;
	height: 83px;
	text-indent: 210px;
	white-space: nowrap;
	overflow: hidden;
	background-image: url("../Images/logo.png");
}
div#banner p {
	padding: 2px 0 10px 0;
	text-transform: uppercase;
	color: rgb(50,50,50);
	margin: 0;
	cursor: default;
	white-space: nowrap;
}

/* Search .................................................................. */

div#search {
	position: absolute;
	top: 0;
	right: 0;
}
div#search form {
	margin: 0;
}
div#search input {
	margin: 0;
	font-size: 13px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
div#search input.text {
	border: none;
	float: left;
	margin-right: 5px;
	width: 189px;
	width: 200px;
	padding: 2px 0 1px 6px;
	height: 20px;
	border: 1px solid rgb(180,180,170);
}
:root div#search input.text {
	height: auto;
}
div#search input.submit {
	border: none;
	padding: 3px 8px 1px 8px;
	background-color: rgb(251,137,10);
	color: white;
	text-transform: uppercase;
}
:root div#search input.submit {
	padding-top: 1px;
}
@-moz-document url-prefix() {
	:root div#search input.text {
		padding-top: 3px;
		padding-bottom: 2px;
	}
	:root div#search input.submit {
		padding-top: 2px;
		padding-bottom: 3px;
	}
}

/* Topnav .................................................................. */

div#topnav {
	position: absolute;
	bottom: 0px;
	right: -7px;
}
div#topnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div#topnav li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
div#topnav a {
	color: rgb(80,80,80);
	text-transform: uppercase;
	display: block;
	height: 36px;
	padding: 0 7px 0 7px;
}
div#topnav a:focus {
	outline: none;
}
div#topnav a:hover,
div#topnav a.selected {
	text-decoration: none;
}
div#topnav span {
	display: block;	
}
div#topnav a.selected span {
	/* color: rgb(0,0,0); */
}
div#topnav a:hover span,
div#topnav a.selected span,
div#topnav:hover a.selected:hover span {
	border-bottom: 16px solid rgb(251,137,10);
}
div#topnav:hover a.selected span {
	border-bottom: none;
}

/* Subnav .................................................................. */

div#subnav h1 a {
	color: rgb(50,50,50);
}
div#subnav h1 a:hover {
	text-decoration: none;
	border-bottom: 16px solid rgb(251,137,10);
}
div#subnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin: -5px -20px 25px -20px;
}
div#subnav ul ul,
div#subnav li {
	margin: 0;
}
div#subnav ul a {
	padding-left: 20px;
}
div#subnav ul a {
	display: block;
	color: rgb(80,80,70);
}
div#subnav ul a:hover {
	text-decoration: none;
	background-color: rgb(200,200,200);
}
div#subnav ul a:focus {
	outline: none;
}
div#subnav span {
	display: block;
	padding: 5px 0 5px 0;
}
div#subnav ul a:hover span,
div#subnav ul a:focus span,
div#subnav ul a.selected span,
div#subnav ul:hover a.selected:hover span {	
	border-left: 14px solid rgb(251,137,10);
	margin-left: -20px;
	padding-left: 6px;
}
div#subnav ul:hover a.selected span {
	border-left: none;
	margin-left: 0;
	padding-left: 0;	
}
div#subnav ul a.selected {
	font-weight: bold;
	color: rgb(50,50,50);
}
div#subnav ul ul a {
	padding-left: 40px;
}
div#subnav ul ul ul a {
	padding-left: 60px;
}

/* Splash .................................................................. */

div#splash {
	height: 200px;
	background-position: 0 -200px;
	clear: both;
	position: relative;
}
div#splash p {
	position: absolute;
	padding: 20px;
	margin: 0;
	right: -20px;
	top: 40px;
	background-color: rgb(255,255,255);
	color: rgb(80,80,70);
	font-size: 12px;
	font-style: italic;
	font-family: Calibri,FallbackCalibriItalic,Optima,Arial,sans-serif;
	width: 180px;
}

/* Main .................................................................... */

div#main {
	position: relative;
	border-bottom: 80px solid rgb(220,220,220);
}
div#main h1 {
	font-size: 28px;
	line-height: 40px;
	font-weight: normal;
	font-family: "Arial Narrow",Calibri,FallbackCalibri,Optima,Arial,sans-serif;
	background-color: rgb(220,220,220);
	margin: 0 -20px 20px -20px; /* tricky setup to cut "holes" in backgrounds */
	padding: 27px 0 13px 20px;
}
div#subnav,
div#maincontent,
div#spots {
	background-color: rgb(220,220,220);
	float: left;
	width: 200px;
	min-height: 201px; /* prevents collapsing layouts somehow */
}
div#main a {
	color: rgb(251,137,10);
}
 

/* Body .................................................................... */

div#body {
	background-color: rgb(220,220,220);
	border-bottom: 1px solid rgb(75,75,75);
}
div#body div.layout {
	border-top: 1px solid rgb(180,180,170);
	padding-top: 20px;
}

/* Box and Deco ............................................................ */

div.box {
	position: relative;
	padding: 0 20px 0 20px;
}
div.deco {
	position: absolute;
	width: 200px;
	top: 80px;
	bottom: 0;
	background-color: lime;
}
div#subnav div.deco {
	background-color: rgb(210,210,210);
}
div#spots div.deco {
	background-color: rgb(235,235,235);
}

/* Content ................................................................. */

div#maincontent {
	width: 400px;
	min-height: 400px;
}
div#maincontent h1 {
	border-bottom: 1px solid rgb(180,180,170);
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 18px;
	padding-bottom: 14px;
}
div#maincontent > div.box > *:last-child {
	margin-bottom: 0;
}

div#maincontent > div.box > p:first-child {
	margin-top: 75px;
}

div#maincontent a {
	font-weight: bold;
}
div#maincontent img {
	-moz-box-shadow: 2px 2px 6px 0 rgb(50,50,50);
	-webkit-box-shadow: 2px 2px 6px rgb(50,50,50);
}

/* Spots ................................................................... */

div#spots {
	padding-top: 100px;
	color: rgb(100,100,100);
}
div#spots h1:first-child {
	margin-top: -100px;
}
div#spots a {
	font-weight: bold;
}

/* Foot .................................................................... */

div#foot {
	background-color: rgb(120,120,120);
	border-top: 1px solid rgb(160,160,160);
	border-bottom: 1px solid rgb(50,50,50);
	padding-top: 20px;
	padding-bottom: 40px;
	font-size: 14px;
}
div#foot,
div#foot a {
	color: rgb(220,220,220);
}

/* Quickmap ................................................................ */

div#quickmap,
div#quickmap > ul {
	display: block;
}
div#quickmap {
	float: left;
	width: 600px;
}
div#quickmap ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
div#quickmap > ul > li {
	float: left;
	margin-right: 20px;
}
div#quickmap > ul > li > a,
div#quickmap > ul > li > span {
	font-weight: bold;
	position: relative;
}
div#quickmap a.selected {
	text-decoration: underline;
}

/* Quickmap IE7 setup */

html div#quickmap > ul > li {
	
}

/* Disclaimer .............................................................. */

div#disclaimer {
	width: 180px;
	padding-left: 20px;
	float: left;
}
div#disclaimer:before {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	top: 0;
	bottom: 0;
	margin-left: -21px;
	border-left: 1px solid rgb(75,75,75);
	border-right: 1px solid rgb(160,160,160);
}
div#disclaimer p {
	margin: 0;
}

/* Footer .................................................................. */

div#footer {
	background-color: rgb(50,50,50);
	border-top: 1px solid rgb(75,75,75);
	font-size: 11px;
	padding: 4px 0 7px 0;
	text-transform: uppercase;
	text-align: right;
}
div#footer p {
	margin-bottom: 0;
	color: rgb(150,150,150);
}
div#footer p:first-child {
	float: left;
}
div#footer p a {
	color: rgb(200,200,200);
}

/* VisualEditor extras included by @import statement in top! ......................................... */

/*
h1.c1tip
p.c1tip
img.floatleft
img.floatright
table.text
table.data
*/