@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    h1 {
        @apply text-xl my-3 font-bold;
    }

    /** BUTTONS 
    */
    .btn {
      @apply shadow text-xs py-2 px-3 rounded uppercase border border-gray-500 disabled:opacity-50;
    }

    .btn-secondary {
        @apply btn hover:border-primary-dark hover:text-primary;
    }

    .btn-primary {
        @apply btn bg-gradient-to-b border-primary from-primary to-primary-dark text-white hover:from-primary-dark hover:to-primary-dark;
    }

    .btn-primary-sm {
        @apply btn-primary px-2 py-1 bg-white;
    }

    .btn-secondary-sm {
        @apply btn-secondary px-2 py-1;
    }

    .btn-dropdown {
        @apply inline-flex justify-center;
    }

    .dropdown {
        @apply bg-white text-base z-10 list-none divide-y divide-gray-100 rounded shadow;
    }
    .dropdown-item {
        @apply text-gray-700 block px-4 py-2 text-sm hover:text-white hover:bg-primary;
    }

    /** TABLES 
    */
    .table-default {
        @apply text-sm text-gray-800;
    }

    .table-default thead
    {
        @apply bg-gray-100 border border-gray-300;
    }

    .table-default thead th {
        @apply py-2 px-3 text-left;
    }

    .table-default tbody tr {
        @apply border border-gray-300;
    }

    .table-default tbody td {
        @apply py-2 px-3;
    }

    .table-default.outborder-0 thead {
        @apply border-0;
    }

    .table-default.outborder-0 tbody tr  {
        @apply border-l-0 border-r-0;
    }

    /** FORMS 
    */
    .form-label {
        @apply block text-sm;   
    }

    .form-label > span {
        @apply text-gray-500 text-xs;
    }

    input[type='checkbox'] {
        @apply rounded text-sm border-gray-400 focus:border-primary-dark  focus:ring-0;;
    }

    input[type='checkbox']:checked {
        @apply bg-primary text-primary border-primary border; 
    }

    input[type='radio']:checked {
        @apply bg-primary text-primary border-primary border; 
    }

    input[type='text'], input[type='number'], input[type='password'], select, textarea {
        @apply py-1 rounded text-sm border-gray-300 focus:border-primary-dark  focus:ring-0;
    }

    /** Modal
    */

    .h-modal {
        height: calc(100% - 2rem);
      }

    .modal {
       @apply overflow-x-hidden overflow-y-auto fixed h-modal md:h-full top-4 left-0 right-0 md:inset-0 z-50 justify-center items-center;
    }

    .modal-container {
        @apply relative w-full max-w-2xl px-4 h-full md:h-auto;
    }

    .modal-body {
        @apply bg-white rounded-lg shadow relative;
    }

    .modal.modal-wide .modal-container {
        @apply sm:max-w-5xl;
    }

    .modal-header {
        @apply rounded-t;
    }

    .modal-footer {
        @apply rounded-b;
    }

    .modal-header, .modal-footer {
        @apply py-3 px-4 bg-gray-100;
    }

    .close-modal {
        @apply top-3 right-4 text-gray-400 absolute cursor-pointer;
    }

    .close-modal::after {
        content: 'x';
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        height: 20px;
        line-height: 20px; 
        font-weight: bold;
    }

    .modal-header h1, .modal-title {
        @apply text-primary uppercase text-base m-0 font-normal font-roboto;
    }

    .modal-content {
        @apply border-t border-b border-gray-300 px-4 py-5 bg-white text-gray-700;
    }

    /** Tabs
    */
    .tabs {
        @apply flex -space-x-2;
    }

    .tabs li {
        @apply bg-white border-t border-l border-r border-gray-200 rounded-t-lg;
    }

    .tabs li a {
        @apply leading-6 block px-4 py-2 font-normal text-base uppercase text-gray-800 opacity-50 border-b border-gray-400; 
    }

    .tabs li.active {
        @apply border-gray-300 z-10;
    }

    .tabs li.active a {
        @apply text-primary opacity-100 border-none;
    }

    .tab-content {
        @apply -mt-px bg-white border border-gray-300;
        overflow: auto;
        position: relative;
    }

    /** Panel
    */
    .panel-content {
        @apply border border-gray-300 p-4 bg-gray-100 rounded;
    }

    .panel-title {
        @apply text-primary italic font-normal uppercase text-base;
    }
  }