@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("e3851f7a-3f4b-4eda-9708-07c3b6020e08");
        TemplateTitle = "Page with navigation";
        Layout = "MasterLayout.cshtml";
    }

    [Placeholder(Id = "start", Title = "Content Start")]
    public XhtmlDocument Start { get; set; }

    [Placeholder(Id = "content", IsDefault = true)]
    public XhtmlDocument Content { get; set; }

}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*you can add template specific head elements here*@
</head>
<body class="contentpage-with-nav">
    @this.Function("Layout.Helpers.InjectContainerElements",
        new { Document = Start, InjectedContainerClassName = "container", DontApplyClassNameList = "container,container-fluid,c1-wide" })
    <div class="container page-container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 nav-column">
                <div class="nav-sidebar hidden-print visible-lg visible-md visible-sm">
                    @PageTemplateFeature("Navigation Column")
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 content-column right-column">
                @Markup(Content)
            </div>
        </div>
    </div>
    <hr class="content-bottom-line" />
</body>
</html>