@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("9f096519-d21c-435e-b334-62224fde2ab3");
        TemplateTitle = "Page with right aside";
        Layout = "MasterLayout.cshtml";
    }

    [Placeholder(Id = "start", Title = "Content Start")]
    public XhtmlDocument Start { get; set; }

    [Placeholder(Id = "content", Title = "Content", IsDefault = true)]
    public XhtmlDocument Content { get; set; }

    [Placeholder(Id = "aside", Title = "Aside column")]
    public XhtmlDocument Aside { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*you can add template specific head elements here*@
</head>
<body class="contentpage-with-aside">
    @this.Function("Layout.Helpers.InjectContainerElements",
        new { Document = Start, InjectedContainerClassName = "container", DontApplyClassNameList = "container,container-fluid,wide" })
    <div class="container page-container container-height">
        <div class="row row-height">
            <div class="col-xs-12 col-sm-8 col-md-8 content-column left-column col-height">
                @Markup(Content)
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 aside-right-column col-height">
                @Markup(Aside)
                @PageTemplateFeature("Aside Column")
            </div>
        </div>
    </div>
    <hr class="content-bottom-line" />
</body>
</html>