@inherits RazorPageTemplate
@functions {
    public override void Configure()
    {
        TemplateId = new Guid("ea2ca748-efbf-4d94-8e2a-11ce49b71cd5");
        TemplateTitle = "Page with left aside";
        Layout = "MasterLayout.cshtml";
    }

    [Placeholder(Id = "start", Title = "Content Start")]
    public XhtmlDocument Start { get; set; }

    [Placeholder(Id = "content", Title = "Content", IsDefault = true)]
    public XhtmlDocument Content { get; set; }

    [Placeholder(Id = "aside", Title = "Aside column")]
    public XhtmlDocument Aside { get; set; }
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @*you can add template specific head elements here*@
</head>
<body class="contentpage-with-aside">
	@this.Function("Layout.Helpers.InjectContainerElements",
		new { Document = Start, InjectedContainerClassName = "container", DontApplyClassNameList = "container,container-fluid,wide" })
    <div class="container page-container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 aside-left-column">
                @Markup(Aside)
                @PageTemplateFeature("Aside Column")
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 content-column right-column">
                    @Markup(Content)
          </div>
        </div>
    </div>
    <hr class="content-bottom-line" />
</body>
</html>