@namespace ui url("http://www.w3.org/1999/xhtml");
ui|plainpopup {
  position: absolute;
  z-index: 6;
  /* above the shadow */
  min-width: 160px;
  visibility: hidden;
  display: none;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
  background-color: #fff;
  box-shadow: 0px 0px 12px -1px rgba(204, 204, 204, 0.75);
  border-radius: 5px;
  border: 1px solid #ccc;
}



ui|plainpopup.overflow {
  overflow-y: scroll;
  height: 211px;
  /* move this to script when separators are supported */
}