.youtube-channel-player .youtube-channel .list-group {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.youtube-channel-player .youtube-channel .list-group-item img {
    max-width: 145px;
}

.youtube-channel-player .youtube-channel-playlists .list-group-item img {
    max-width: 200px;
}
