@inherits RazorFunction
@using Facebook;
@using System.Web.Caching;

@functions {
	public override string FunctionDescription
	{
		get { return "Display images from a specific Facebook album on a page."; }
	}

	[FunctionParameter(Label = "Album ID", Help = "The ID of a Facebook album with images to display.")]
	public string AlbumID { get; set; }

	[FunctionParameter(Label = "Access token", Help = "The Facebook access token")]
	public string AccessToken { get; set; }

	private dynamic GetData(string url)
	{

		if (HttpContext.Current.Cache[url] == null)
		{
			var fb = new FacebookClient();
			if (!string.IsNullOrEmpty(AccessToken.Trim()))
			{
				fb = new FacebookClient(HttpUtility.UrlDecode(AccessToken));
			}
			HttpContext.Current.Cache.Add(url, fb.Get(url),
								 null, DateTime.Now.AddSeconds(60),
								 Cache.NoSlidingExpiration,
								 CacheItemPriority.Default,
								 null);
		}
		return HttpContext.Current.Cache[url];
	}
}
@{
	dynamic photos = null;
	try
	{
		photos = GetData(AlbumID + "/photos?fields=id,name,link,picture,images&limit=100");
	}
	catch (Exception ex)
	{
		<p class="alert alert-danger">@ex.Message</p>
		return;
	}
}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://www.composite.net/ns/function/1.0">
<head>
	<style type="text/css">
		.fb-photo-item {
			float: left;
			margin: 0 5px 5px 0;
		}

			.fb-photo-item a {
				display: block;
				border: 0;
				padding: 0;
				margin: 0;
			}

		.fb-squared-div {
			width: 100px;
			height: 100px;
			background: white;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
	</style>
	<script id="jquery-js" src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script id="slimbox2-js" src="~/Frontend/Orckestra/Media/ImageGallery/Slimbox-2/js/slimbox2.js" type="text/javascript"></script>
	<link id="slimbox2-css" media="screen" type="text/css" href="~/Frontend/Orckestra/Media/ImageGallery/Slimbox-2/css/slimbox2.css" rel="stylesheet" />
</head>
<body>
	<div class="clearfix">
		@foreach (var photo in photos.data)
		{
			var imagesCount = photo.images.Count;
			var smallImageIndex = imagesCount - 1;
			var mediumImageIndex = 0;
			for (var i = 0; i < photo.images.Count; i++)
			{
				var img = photo.images[i];
				if (img.width > 900)
				{
					continue;
				}
				mediumImageIndex = i;
				break;
			}
			if (string.IsNullOrEmpty(photo.picture))
			{
				continue;
			}
			<div class="fb-photo-item">
				<a rel="lightbox-@(AlbumID)" href="@photo.images[mediumImageIndex].source" title="&lt;a href=@photo.link&gt;@photo.name&lt;/a&gt;">
					<div class="fb-squared-div" style="background-image: url(@photo.images[smallImageIndex].source.Replace("https:", ""));">&#160;</div>
				</a>
			</div>
		}
	</div>
</body>
</html>