<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoboBrowse.Net" version="3.2.2" targetFramework="net461" />
  <package id="C1CMS.Assemblies" version="6.1.6325.31805" targetFramework="net461" />
  <package id="C5" version="2.2.4822.42600" targetFramework="net461" />
  <package id="Common.Logging" version="3.0.0" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Lucene.Net.Contrib" version="3.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.1.0" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
</packages>