.News ul {
	padding: 0px;
	display: block;
	list-style: none;
}

.News .Date {
	font-size: 80%;
	display: block;
}

.News .Title {
	display: block;
	margin-top: 10px;
	font-weight: bold;
}
.News .Title a {
	font-weight: bold;
}

.News .Paging a {
	padding: 2px;
}

