.EventCalendar {
	display: block;
}

.EventCalendar .Archive {
	display: block;
}

.EventCalendar .Item {
	display: block;
}

.EventCalendar .Item h2.Title {
	font-weight: bold;
}

.EventCalendar .ListItem {
	display: block;
}

.EventCalendar .ListItem div a {
	display: block;
}
